---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Link CSS from public/styles -->
		<link rel="stylesheet" href="/styles/global.css" />
		<title>The Sushil's Desk</title>
	</head>
	<body>
		<slot />

		<footer>
			<p>&copy; 2025 The Sushil's Desk. All rights reserved.</p>

			<p>
				Want to reach out? 
				<a href="/#contact-form" target="_blank" rel="noopener noreferrer">
					Contact me via my portfolio
				</a>
			</p>
		</footer>
	</body>
</html>
